/* h2 {
    color: blue;
}

 #title {
     color: red;
     align-self: center;
 }

 .subtitle {
     color: green;
 }

 #services {
     color: brown;
 }

 li:nth-child(1) {
     color: goldenrod;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
  */
 /* .link:link {
     color: gold; 
 }

 .link:visited { 
     color: gray;
 } */
/* 
 h2 + a {
    color: lightsalmon;
 }  

 textarea ~ button {
     color: purple;;
 }

 ul > li {
     color: blueviolet;
 }

 ul li {
     color: green;
 } */

#title {
    color: rgba(242, 137, 31, 1);     
}

.subtitle {
    color: rgb(204, 47, 47);
    /* background: rgba(32  , 178, 170, .2); */
    /* background-image: url('https://as2.ftcdn.net/v2/jpg/03/70/46/99/1000_F_370469943_mtPT7lK9HH4bgtU0rk1Gx8VvbhTTKZ0w.jpg'); 
     */
    background: linear-gradient(to right, transparent, mistyrose) , url('https://as2.ftcdn.net/v2/jpg/03/70/46/99/1000_F_370469943_mtPT7lK9HH4bgtU0rk1Gx8VvbhTTKZ0w.jpg'); 
}

/* .subtitle::before {
    background-image: url('https://as2.ftcdn.net/v2/jpg/03/70/46/99/1000_F_370469943_mtPT7lK9HH4bgtU0rk1Gx8VvbhTTKZ0w.jpg');
    background-size: cover;
    opacity: .9;
} */

body {
    background: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg');
    background-color: powderblue;
    background-repeat: no-repeat;
    background-size: cover; 
}   

#service-image{
    /* height: 400px;
    width: 70%;
    background-size: cover; */
    /* background-image: url(https://cdn.pixabay.com/photo/2016/09/13/19/31/texture-1668079__340.jpg);
    background-size: cover; */
    /* height: 100px; */
    height: 24em;
    width: 50em;
    background: radial-gradient(circle, red 20%, blue 40%, green 55%);
    border: 2px solid red; 
    padding: 20px;
    margin: 40px;
    /* float: right; */
}   

.link {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: justify;
    color: green;
    font-weight: 800;
    /* float: left; */
}

.para-text {
    text-align: justify;
    font-size: 1.24em;
}

.italics {
    font-style: oblique;
    font-family: 'Fredoka', sans-serif;
}

#about-us-image {
    height: 30em;
    border: .5em solid rgb(29, 100, 12);
    padding: .3em;
    margin: 5em 0em 3em 0em;
}


.site-table {
    /* float: left;;*/
    /* display: inline-block; */
    background-color: brown;
    border: .2em dotted darkcyan
} 
  
.site-table > tbody, thead {
    background-color: white;
}

.container {
    background-color: rgb(250, 250, 250);
    margin: 10px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.con-item {
    background-color: rgb(36, 130, 39);
    color: white;
    font-size: 25px;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 10px;
    border-radius: 10%;
}


.grid-container {
    background-color: rgb(250, 250, 250);
    margin: 10px;
    height: 300px;  
    display: grid;
}

.grid-item {
    color: rgb(197, 24, 24);
    font-size: 25px;
    text-align: center;
    width: 70px;
    line-height: 40px;
    margin: 10px;
}